@font-face {
    font-family:Fontstyle;
    src: url(/front-app/NotoSansThai-VariableFont_wdth\,wght.ttf);
}

body {
    font-family: Fontstyle;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

/* header */
header {
    background-color: #004085;
    padding: 5px;
    
}

header h1{
    color: white;
    justify-content: left;
    font-size: 40px;
    display: flex;
    margin-right: 750px;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

/* logo */
.logo-container{
   background-color: white;
    padding: 15px;
    border-radius: 15px;  
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateX(80%) translateY(-50%);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); 
}

.logo-container img {
    height: 50px;
    width: auto;
    display: block;
}

/* footer */
.content-container {
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}


/* footer */
footer {
    background-color: #004085;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* ตาราง */
table {
  border-collapse: collapse;
  min-width: 2300px;   
  position: absolute;
  top: 350px;   
  left: 60px;
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 8px 14px rgba(0,0,0,0.1);
}

th, td {
  border: 1px solid #eee;
  padding: 16px;
  text-align: center;
  font-size: 16px;
}

th {
  background: linear-gradient(90deg, #2d6eb3, #1f4d80);
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

tbody tr:hover {
  background-color: #eaf4ff;
  transition: 0.2s ease-in-out;
}

/* สไตล์ปุ่มหลักทั้งหมด */
button, .btn, .x {
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  transition: 0.3s;
  box-shadow: 0 8px 14px rgba(0,0,0,0.1);
  color: white;
}

/* ปุ่มย้อนกลับ */
.btn {
  background: #4b78cc;
  width: 180px;
  height: 60px;
  position: absolute;
  top: 250px;   
  left: 60px;
  box-shadow: 0 8px 14px rgba(0,0,0,0.1);
  transition: all 0.3s ease;

}
.btn:hover {
  background: #31b0d5;
  transform: translateY(-3px);

}

/* ปุ่มเพิ่มบทความ */
.x {
  background: #259325;
  width: 180px;
  height: 60px;
  position: absolute;
  top: 250px;   
  right: 60px;
  transition: all 0.3s ease;
}
.x:hover {
  background: #449d44;
  transform: translateY(-3px);
}

/* ปุ่มในตาราง */
table button {
  padding: 6px 14px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  transition: 0.3s;
  background-color: #004085;
  text-align: center;
  justify-content: center;
}

/* ปุ่มแก้ไข */

table button[type="submit"]:first-child:hover {
  background: #ec971f;
}

/* ปุ่มลบ */
table form[onsubmit] button {
  background: #d9534f;
  color: white;
}
table form[onsubmit] button:hover {
  background: #c9302c;
}

/* Status Approve */
.status-approve {
  display: inline-block;
  color: white;
  background-color: #5cb85c; /* เขียว */
  font-weight: bold;
  border-radius: 6px;
  padding: 4px 10px;
  min-width: 50px;       /* ขนาดขั้นต่ำ */
  text-align: center;
  transform: translateX(70px) translateY(20px);
}

/* Status Pending */
.status-pending {
  display: inline-block;
  color: white;
  background-color: #d9534f; /* แดง */
  font-weight: bold;
  border-radius: 6px;
  padding: 4px 10px;
  min-width: 50px;       /* ขนาดขั้นต่ำ */
  text-align: center;
}

/* Status Not Approve */
.status-not-approve {
  display: inline-block;
  color: white;
  background-color: #d9534f; /* แดง */
  font-weight: bold;
  border-radius: 6px;
  padding: 4px 10px;
  min-width: 50px;       /* ขนาดขั้นต่ำ */
  text-align: center;
  transform: translateX(115px) translateY(20px);

}
